// UTRGV Navy rgb(0, 38, 73)
// UTRGV Kelly Green rgb(0, 135, 81)
// UTRGV Orange rgb(249, 86, 2)
// UTRGV Light Orange rgb(252, 163, 17)

// loader
#loader {
    -fx-background-color:
        linear-gradient(rgb(252, 163, 17) 0%, rgb(255, 234, 200) 70%, rgb(200, 242, 230) 100%),
        radial-gradient(focus-distance 0% ,center 50% 50% , radius 90% , rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0.05) 50%, rgba(0, 0, 0, .99) 90%);
}
#loadLogo {
    -fx-background-image: url("loadLogo.png");
    -fx-background-size: 300, 300;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
.loadText {
    -fx-text-fill: rgb(0, 38, 73);
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
// header
#menuBar {
    -fx-background-color: rgb(0, 135, 81),
        linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0) 10%, rgba(255, 255, 255, 0.0) 90%, rgba(255, 255, 255, 0.5) 100%),
        linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0.0) 20px, rgba(255, 255, 255, 0.0) 50%, rgba(255, 255, 255, 0.3) 99%);
    -fx-accent: 
        linear-gradient(rgba(50, 200, 170, 0.0) 0%, rgba(50, 200, 170, 0.5) 10%, rgba(50, 200, 170, 0.5) 90%, rgba(50, 200, 170, 0.0) 100%);
    -fx-border-width: 1px;
    -fx-border-color: rgb(0, 38, 73);
}
#menuBar .menu .label {
    -fx-font-size: 12;
    -fx-text-fill: rgb(220, 255, 220);
    -fx-padding: 4 8 4 8;
    -fx-font-weight: bold;
}
#menuBar .menu-item .label {
    -fx-font-size: 11;
    -fx-text-fill: rgb(0, 38, 73);
    -fx-padding: 4 8 4 8;
    -fx-font-weight: normal;
}
#menuBar .menu:hover, .menu-item:hover{
    -fx-cursor: hand;
}
#menuBar .context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color:
        linear-gradient(rgb(180, 180, 180) 0%, rgb(230, 230, 230) 5%, rgb(255, 255, 255) 100%);
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 0 6 6, 0 0 5 5, 0 0 4 4;
    -fx-padding: 4 1 8 1;
    -fx-effect: dropshadow(one-pass-box, rgb(0, 0, 0), 20, 0.1, 0, 6);
}
#headerBar {
    -fx-background-color: 
        linear-gradient(rgb(0, 10, 30) 0%, rgb(0, 38, 73) 15%, rgb(0, 38, 73) 85%, rgb(20, 60, 100) 100%),
        linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0.0) 20px, rgba(255, 255, 255, 0.0) 50%, rgba(255, 255, 255, 0.3) 99%);
}
#headerLogo {
    -fx-background-image: url("headerLogo.png");
    -fx-background-size: 175 50;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
#headerCaption {
    -fx-text-fill:
        linear-gradient(rgb(200, 230, 230) 0%, rgb(255, 255, 255) 100%);
    -fx-font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    -fx-font-size: 17px;
    -fx-font-smoothing-type: lcd;
}

// left side
#treeContainer {
    -fx-border-width: 1px 0 1px 1px;
    -fx-border-color: rgb(0, 38, 73);
}
.treeStyle {
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: rgb(0, 38, 73);
    -fx-background-color:
        linear-gradient(rgb(230, 230, 230) 0%, rgb(250, 250, 250) 3%,
        rgb(255, 255, 255) 96%, rgb(230, 230, 230) 100%);
}
.tree-cell {
    -fx-background-color: transparent;
    -fx-font-size: 11;
    -fx-text-fill: rgb(0, 38, 73);
    -fx-border-color: rgba(255, 255, 255, 0);
}
.tree-cell:hover {
    -fx-background-color: transparent;
    -fx-font-size: 11;
    -fx-text-fill: rgb(0, 135, 81);
    -fx-cursor: hand;
}
.tree-cell > .tree-disclosure-node > .arrow  {
    -fx-background-color: rgb(0, 38, 73);
}
.tree-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-background-color: rgb(0, 135, 81);
}
.tree-cell:selected {
    -fx-border-color: rgb(252, 163, 17);
    -fx-background-color: rgba(255, 255, 255, 0.5);
}

//center
#center {
    -fx-border-width: 1px;
    -fx-border-color: rgb(0, 38, 73);
    -fx-background-color:
        linear-gradient(rgb(200, 200, 200) 0%, rgb(240, 240, 240) 5%, rgb(255, 255, 255) 100%);
    -fx-background-image: url("bgLogo.png");
    -fx-background-repeat: repeat;
}
#center .text-field {
    -fx-focus-color: rgb(0, 135, 81);
}

#center .text-area {
    -fx-focus-color: rgb(0, 135, 81);
}

//footer
#footer {
    -fx-background-color: 
        linear-gradient(rgb(0, 10, 30) 0%, rgb(0, 38, 73) 15%, rgb(0, 38, 73) 85%, rgb(20, 60, 100) 100%),
        linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0.0) 20px, rgba(255, 255, 255, 0.0) 50%, rgba(255, 255, 255, 0.3) 99%);
}
#footerCaption {
    -fx-text-fill:
        linear-gradient(rgb(200, 230, 230) 0%, rgb(255, 255, 255) 100%);
    -fx-font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    -fx-font-size: 14px;
    -fx-font-smoothing-type: lcd;
}
#footerLogo {
    -fx-background-image: url("footerLogo.png");
    -fx-background-size: 100 30;
    -fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}
#footerUser {
    -fx-text-fill:
        linear-gradient(rgb(200, 230, 230) 0%, rgb(255, 255, 255) 100%);
    -fx-font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    -fx-font-size: 13px;
}

// popups
.dialog-pane {
    -fx-background-color:
        linear-gradient(rgb(252, 163, 17) 0%, rgb(255, 234, 200) 70%, rgb(200, 242, 230) 100%),
        radial-gradient(focus-distance 40% ,center 70% 30% , radius 90% , rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(0, 135, 81, 0.5) 100%);
    -fx-padding: 12 12 12 12;
}
.dialog-pane.errorAlert {
    -fx-background-color:
        linear-gradient(rgb(0, 0, 0) 0%, rgb(255, 0, 0) 50%, rgb(249, 86, 2) 100%),
        radial-gradient(focus-distance 40% ,center 20% 70% , radius 100% , rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.3) 100%);
    -fx-padding: 12 12 12 12;
}
.dialog-pane .label {
    -fx-text-fill: rgb(0, 38, 73);
}
.dialog-pane.errorAlert .content {
    -fx-text-fill: rgb(0, 38, 73);
    -fx-font-weight: bold;
}
.dialog-pane .header-panel {
    -fx-border-color: rgb(249, 86, 2);
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 12 12 12 12;
    -fx-background-color:linear-gradient(rgb(255, 234, 200) 0%, rgb(255, 255, 255) 100%);
    -fx-effect: dropshadow(one-pass-box, #666, 20, 0.1, 0, 6);
    -fx-padding: 16 16 16 16;
}
.dialog-pane .header-panel .label {
    -fx-font-style: italic;
}
.dialog-pane .text-field {
    -fx-focus-color: rgb(249, 86, 2);
}
.dialog-pane.errorAlert .button {
    -fx-background-color:
        linear-gradient(rgb(249, 86, 2) 0%, rgb(255, 0, 0) 100%),
        radial-gradient(focus-distance 40% ,center 30% 30% , radius 100% , rgba(252, 163, 17, 0.1) 45%, rgba(252, 163, 17, 0.5) 50%);
    -fx-background-radius: 10, 10, 10, 10;
    -fx-border-radius: 8, 8, 8, 8;
    -fx-background-insets: 0, 1;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, #444, 20, 0.1, 0, 6);
    -fx-border-color: rgb(0, 38, 73);
}

.dialog-pane.errorAlert .button:hover {
    -fx-background-color:
        linear-gradient(rgb(255, 255, 255)0%, rgb(255, 234, 200)  100%),
        radial-gradient(focus-distance 40% ,center 30% 30% , radius 100% , rgba(252, 163, 17, 0.1) 45%, rgba(252, 163, 17, 0.5) 50%);
    -fx-background-radius: 10, 10, 10, 10;
    -fx-border-radius: 8, 8, 8, 8;
    -fx-background-insets: 0, 1;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, #444, 20, 0.1, 0, 6);
    -fx-border-color: rgb(0, 38, 73);
    -fx-cursor: hand;
}
.dialog-pane .button {
    -fx-background-color:
        linear-gradient(rgb(200, 242, 230) 0%, rgb(0, 38, 73) 100%),
        radial-gradient(focus-distance 40% ,center 30% 30% , radius 100% , rgba(0, 135, 81, 0.1) 45%, rgba(0, 135, 81, 0.5) 50%);
    -fx-background-radius: 10, 10, 10, 10;
    -fx-border-radius: 8, 8, 8, 8;
    -fx-background-insets: 0, 1;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, #444, 20, 0.1, 0, 6);
    -fx-border-color: rgb(0, 38, 73);
}
.dialog-pane .button:hover {
    -fx-background-color:
        linear-gradient(rgb(250, 246, 240) 0%, rgb(50, 185, 131) 100%),
        radial-gradient(focus-distance 40% ,center 30% 30% , radius 100% , rgba(255, 255, 255, 0.3) 45%, rgba(0, 135, 81, 0.1) 50%);
    -fx-background-radius: 10, 10, 10, 10;
    -fx-border-radius: 8, 8, 8, 8;
    -fx-background-insets: 0, 1;
    -fx-text-fill: rgb(0, 135, 81);
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, #444, 20, 0.1, 0, 6);
    -fx-border-color: rgb(0, 38, 73);
    -fx-cursor: hand;
}
.dialog-pane .button:focused {
    -fx-background-color:
        linear-gradient(rgb(200, 242, 230) 0%, rgb(0, 135, 81) 100%),
        radial-gradient(focus-distance 40% ,center 30% 30% , radius 100% , rgba(255, 255, 255, 0.1) 45%, rgba(0, 135, 81, 0.5) 50%);
    -fx-background-radius: 10, 10, 10, 10;
    -fx-border-radius: 8, 8, 8, 8;
    -fx-background-insets: 0, 1;
    -fx-text-fill: rgb(0, 38, 73);
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, #444, 20, 0.1, 0, 6);
    -fx-border-color: rgb(0, 38, 73);
}
.dialog-pane .button:focused:hover {
    -fx-background-color:
        linear-gradient(rgb(250, 246, 240) 0%, rgb(50, 185, 131) 100%),
        radial-gradient(focus-distance 40% ,center 30% 30% , radius 100% , rgba(255, 255, 255, 0.3) 45%, rgba(0, 135, 81, 0.1) 50%);
    -fx-background-radius: 10, 10, 10, 10;
    -fx-border-radius: 8, 8, 8, 8;
    -fx-background-insets: 0, 1;
    -fx-text-fill: rgb(0, 135, 81);
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, #444, 20, 0.1, 0, 6);
    -fx-border-color: rgb(0, 38, 73);
    -fx-cursor: hand;
}
.dialogGrid {
    -fx-border-color: rgb(249, 86, 2);
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 12 12 12 12;
    -fx-background-color:linear-gradient(rgb(255, 234, 200) 0%, rgb(255, 255, 255) 100%);
    -fx-effect: dropshadow(one-pass-box, #555, 20, 0.1, 0, 6);
    -fx-padding: 12 22 12 22;
}
.dialogPad {
    -fx-padding: 30 0 20 0;
}

// general
.formDivision {
    -fx-border-color: rgb(0, 38, 73);
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 12 12 12 12;
    -fx-background-color:
        linear-gradient(rgb(170, 170, 170) 0%, rgb(200, 200, 200) 100%),
        linear-gradient(rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1.0) 1%,
        rgba(255, 255, 255, 0.5) 98%, rgba(255, 255, 255, 0.2) 100%);
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.7), 10, 0.01, 0, 10);
}
.pageHeader {
    -fx-text-fill: rgb(0, 38, 73);
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}
.formSubdivision {
    -fx-border-color: rgb(0, 135, 81);
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 7 7 7 7;
    -fx-background-color: rgba(255, 255, 255, 0.75);
}
.pageSubheader {
    -fx-text-fill: rgb(0, 135, 81);
    -fx-font-weight: bold;
    -fx-font-size: 9px;
}
.formContainer {
    -fx-border-color: rgb(0, 135, 81);
    -fx-border-radius: 7 7 7 7;
    -fx-background-radius: 9 9 9 9;
    -fx-background-color: linear-gradient(to left, rgba(0, 38, 73, 0.3) 0%, rgba(0, 38, 73, 0.05) 100%);
}
.inputLabel {
    -fx-text-fill: rgb(0, 38, 73);
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}
.genButton {
    -fx-background-color:
        linear-gradient(rgb(200, 242, 230) 0%, rgb(0, 38, 73) 100%),
        radial-gradient(focus-distance 40% ,center 30% 30% , radius 100% , rgba(0, 135, 81, 0.1) 45%, rgba(0, 135, 81, 0.5) 50%);
    -fx-background-radius: 10, 10, 10, 10;
    -fx-border-radius: 8, 8, 8, 8;
    -fx-background-insets: 0, 1;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 10, 0.01, 0, 4);
    -fx-border-color: rgb(0, 38, 73);
}
.genButton:hover {
    -fx-background-color:
        linear-gradient(rgb(250, 246, 240) 0%, rgb(50, 185, 131) 100%),
        radial-gradient(focus-distance 40% ,center 30% 30% , radius 100% , rgba(255, 255, 255, 0.3) 45%, rgba(0, 135, 81, 0.1) 50%);
    -fx-background-radius: 10, 10, 10, 10;
    -fx-border-radius: 8, 8, 8, 8;
    -fx-background-insets: 0, 1;
    -fx-text-fill: rgb(0, 135, 81);
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 10, 0.01, 0, 4);
    -fx-border-color: rgb(0, 38, 73);
    -fx-cursor: hand;
}
.genButton:focused {
    -fx-background-color:
        linear-gradient(rgb(200, 242, 230) 0%, rgb(0, 38, 73) 100%),
        radial-gradient(focus-distance 40% ,center 30% 30% , radius 100% , rgba(0, 135, 81, 0.1) 45%, rgba(0, 135, 81, 0.5) 50%);
    -fx-background-radius: 10, 10, 10, 10;
    -fx-border-radius: 8, 8, 8, 8;
    -fx-background-insets: 0, 1;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 10, 0.01, 0, 4);
    -fx-border-color: rgb(0, 135, 81);
}
.genButton:focused:hover {
    -fx-background-color:
        linear-gradient(rgb(250, 246, 240) 0%, rgb(50, 185, 131) 100%),
        radial-gradient(focus-distance 40% ,center 30% 30% , radius 100% , rgba(255, 255, 255, 0.3) 45%, rgba(0, 135, 81, 0.1) 50%);
    -fx-background-radius: 10, 10, 10, 10;
    -fx-border-radius: 8, 8, 8, 8;
    -fx-background-insets: 0, 1;
    -fx-text-fill: rgb(0, 135, 81);
    -fx-font-weight: bold;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.3), 10, 0.01, 0, 4);
    -fx-border-color: rgb(0, 135, 81);
    -fx-cursor: hand;
}
.dot {
    -fx-mark-highlight-color: rgb(0, 125, 115);
    -fx-mark-color: rgb(0, 125, 115);
}
.increment-button {
    -fx-background-color: rgb(220, 255, 220);
}
.decrement-button {
    -fx-background-color: rgb(220, 255, 220);
}
.scroll-bar {
    -fx-background-color: rgb(0, 38, 73);
}
.thumb {
    -fx-background-color:
        linear-gradient(to bottom right,
        rgb(220, 255, 220),
        rgb(150, 160, 160));
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-pane {
   -fx-background-color: transparent;
}
.clickable {
    -fx-text-fill: rgb(0, 38, 73);
    -fx-font-style: italic;
    -fx-underline: true;
}
.clickable:hover {
    -fx-text-fill: rgb(0, 135, 81);
    -fx-font-style: italic;
    -fx-cursor: hand;
}
.errorLabel {
    -fx-text-fill: rgb(155, 0, 0);
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}
.paragraph {
    -fx-text-fill: rgb(0, 38, 73);
    -fx-font-size: 14px;
}
.notStarted {
    -fx-text-fill: rgb(0, 38, 73);
    -fx-font-style: italic;
    -fx-background-image: url("notStarted.png");
    -fx-background-size: 154, 24;
    -fx-background-position: left center;
    -fx-background-repeat: no-repeat;
    -fx-font-size: 14px;
}
.inProgress {
    -fx-text-fill: rgb(0, 38, 73);
    -fx-font-style: italic;
    -fx-background-image: url("inProgress.png");
    -fx-background-size: 154, 24;
    -fx-background-position: left center;
    -fx-background-repeat: no-repeat;
    -fx-font-size: 14px;
}
.complete {
    -fx-text-fill: rgb(0, 38, 73);
    -fx-font-style: italic;
    -fx-background-image: url("complete.png");
    -fx-background-size: 154, 24;
    -fx-background-position: left center;
    -fx-background-repeat: no-repeat;
    -fx-font-size: 14px;
}